<!DOCTYPE html>
<html>
<head>
  <title>LearnEnglish</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Full Body Container -->
<div id="container"> 
	<!-- Start Header Section -->
  	<div class="hidden-header"></div>
    <!-- Start Header Section -->
    <%= render 'layouts/home/header' %>
  	<!-- End Header Section --> 
  
    <!-- Start Content -->
  	<div id="content">
	    <div class="container">
	    	<div class="col-md-6 col-sm-6 col-sm-offset-3 col-md-offset-3 page-content" id="signin-up">
		    	<%= yield %>
	        </div>
	    </div>
	</div>
  	<!-- End content --> 
  	<%= render 'layouts/home/footer' %>
   
</div>
<!-- End Full Body Container --> 

</body>
</html>
